.cardList {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem;
    margin-left: 5rem;

    &__item{
        background-color: orange;
        width: 30%;
        height: 50vh;
        margin-bottom: 0.5rem;
        margin-left: 1rem;
        border-radius: 0.5rem;
        cursor: pointer;
        
        &:hover {
            transform: translateY(-0.1rem);
        }
    }
}

.eventInfo {
    text-align: center;
    margin-top: 4rem;
}

.addEventToExisting {
    height: 100%;
    background-color: orange;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-size: 3rem;

    &:hover {
        h1 {
            display: inline-block;
            color: white; 
        }
    }
    p {
        font-size: 2.2rem;
    }
}

.admin_title {
    font-family: 'Slabo 27px', serif;
    font-size: 3rem;
    text-align: center;
    margin-top: 2rem;
}