.searchBox {
    text-align: center;
    margin-bottom: 2rem;

    &-property {
        background-color: $color-primary;
        height: 30px;
        font-size: 1rem;
        padding: 0.6rem 1.6rem;
        border-radius: 1rem;
        border: none;
    }
}