.form {
    margin-top: 2rem;
    text-align: center;

    &__title {
        font-family: 'Slabo 27px', serif;
        font-size: 5.8rem;
    }

    input {
        padding: 1rem 2rem;
        margin-top: 1.3rem;
        border-radius: 2.2rem;
        border: none;
        font-size: 1.2rem;
    }

    button {
        margin-top: 2rem;
        background-color: $color-primary;
        padding: 1rem 2rem;
        border: none;
        border-radius: 1.85rem;
        font-size: 1.5rem;

        &:hover {
            background-color: $color-home-button;
            cursor: pointer;
        }
    }
}